@model List<AppB2C2.Models.Domain.MusicItem>

<h1>All Items</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Artist</th>
                <th>Date Added</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ItemTitle</td>
                    <td>@item.ItemDescription</td>
                    <td>@item.Artist</td>
                    <td>@item.DateAdded</td>
                    <td>
                        <a asp-controller="MusicItems" asp-action="Details" asp-route-itemId="@item.Id">Details</a>
                    </td>
                    <td>
                        <a asp-controller="MusicItems" asp-action="Delete" asp-route-itemid="@item.Id">Delete</a>
                    </td>
                    <td>
                        <a asp-controller="MusicItems" asp-action="Edit" asp-route-itemId="@item.Id">Edit</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No items available.</p>
}
