@model AppB2C2.Models.ViewModels.MusicItemDetailsViewModel

<h1>Tag Details</h1>

<div>
    <dl>
        <dt>Title:</dt>
        <dd>@Model.ItemTitle</dd>

        <dt>Description:</dt>
        <dd>@Model.ItemDescription</dd>

        <dt>Artis:</dt>
        <dd>@Model.Artist</dd>

        <dt>Item content:</dt>
        <dd>@Model.ItemContent</dd>

        <dt>Item value (in euros):</dt>
        <dd>@Model.ItemValue</dd>

    </dl>
</div>
