@page
@model AppB2C2.Pages.Collections.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Collection[0].CollectionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Collection[0].CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Collection[0].CollectionDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Collection[0].DjUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Collection) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CollectionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollectionDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DjUser.UserId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CollectionId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CollectionId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CollectionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
