@page
@model AppB2C2.Pages.CollectionItems.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CollectionItem[0].ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollectionItem[0].CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollectionItem[0].ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollectionItem[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollectionItem[0].EstimatedPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollectionItem[0].Collection)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CollectionItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Collection.CollectionId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ItemId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ItemId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
